@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-qizil1: #ef4444;
  --color-qizil2: #dc2626;
}


/* custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  display: none;
}
.custom-scrollbar {
  scrollbar-width: none;
}

input:focus + label {
  transform: translateY(-20px);
  color: #0077b6;
}
input:focus {
  outline-color: #0077b6;
  color: rgba(27, 16, 185, 0.349);
}
.menu-btn {
  @apply w-full flex items-center gap-3 px-4 py-3 rounded-xl
         font-medium text-sm text-gray-700
         hover:bg-gray-100 active:scale-95
         transition-all duration-200;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 0.2s ease-out;
}
