@import "tailwindcss";

.custom-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
.custom-scrollbar {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}