@import "tailwindcss";
@plugin "daisyui";

.custom-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
.custom-scrollbar {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}

input:focus + label {
  transform: translateY(-20px);
  color: #0077b6;
}

input:focus {
  outline-color: #0077b6;
}